{{- if not (.Param "hideFooter") }}
<footer class="footer">
    {{ partial "social_icons.html" (dict "align" "center") }}
    <span>&copy; {{ now.Year }} <a href="{{ "" | absLangURL }}">Fran Villa</a></span>
</footer>
{{- end }}
{{- if (not site.Params.disableScrollToTop) }}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>
{{- end }}
{{- if (not site.Params.disableThemeToggle) }}
<script>
    document.getElementById('theme-toggle').addEventListener('click', () => {
        const html = document.documentElement;
        if (html.getAttribute('data-theme') === 'dark') {
            html.setAttribute('data-theme', 'light');
            document.body.classList.remove('dark');
            localStorage.setItem('pref-theme', 'light');
        } else {
            html.setAttribute('data-theme', 'dark');
            document.body.classList.add('dark');
            localStorage.setItem('pref-theme', 'dark');
        }
    })
</script>
{{- end }}
{{- partial "extend_footer.html" . }}